# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock
bun.lock
bun.lockb

# Miscellaneous
/static/


# Generated
worker-configuration.d.ts

# Rewritten by wrangler when it edits config (e.g. `d1 create`)
wrangler.jsonc
